/*style.css*/


/* buttons */
.backToTop,
.backToMenu,
.backToBottom {
    background-color: yellow;
    font-size: 20px;
    font-family: Arial, sans-serif;
    font-weight: 700;
    
}


/* main menu */

.menu {
    text-align: center;
    padding: .5em;
}

.menuText {
    text-align: center;
    display: inline-block;
}

.flex-container {
    display: flex;
}

.flex-container div {
    flex: 1;
    height: 550px;
}

.image-and-title {
    text-align: center;
    flex: auto;
    margin: 20px;

}

.image {
    max-width: 450px;
    max-height: 400px;
    width: 80%;   
    justify-content: center; 
    overflow: hidden;
}

.line1 {
    background-color: darkgreen;
}

.line2 {
    background-color: darkred;
}


/* lasagna.html css */
.header {
    text-align: center;
}

.flex-container-lasagna {
    display: flex;
    flex-direction: row;
}

.flex-container-lasagna div {
    justify-content: space-around;
    margin: 15px;
}